/*.menu-navegacion {
  background-color: #FFAEAE;
}*/
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline-block;
  /*margin: 20px;*/
  border: 1px solid #000;
  padding: 10px;
  background-color:#08ff00;
}
.menu ul li a {
  text-decoration: none;
}
.menu ul li a:link,
.menu  ul li a:visited
{
  color: white;
}
/*.menu-navegacion ul li a:hover {
  color: #f00;
}*/
