iframe{
	width: 120;
	height: 75;
}
#formula{
	width: 900;
	height: 120;
	margin: 0 auto;
}

#busqueda{
	width: 90%;
}
#tamanio{
	width: 50%;
}
#id02, #formula2{
	width: 900;
	height: 350;
	margin: 0 auto;
	
}
#map{
	width: 900;
	height: 350;
	margin: 0 auto;
	 padding: 0;
}